{% extends '@WeCrea/layout/base_admin.html.twig' %}

{% block body %}
    <div class="container container_custom">

        <div class="row row_custom">
            <div class="col m10 offset-m1">
                {{ form_start(formImages) }}
                <input type="submit" value="submit">

                {{ form_end(formImages) }}
            </div>
        </div>

        <div class="row row_custom">
            <div class="col m10 offset-m1" id="formCarr">
                {{ form_start(formCarrousel) }}

                {{ form_end(formCarrousel) }}

            </div>
        </div>

        <div class="row row_custom">
            <div id="show_carrousel">
                {% for carrousel in carrousels %}
                    <div class="card" style="background: url('{{ asset('bundles/wecrea/images/') }}{{ carrousel.images.url }}') center / cover">
                        <h2>{{ carrousel.title }}</h2>
                        <p>{{ carrousel.content }}</p>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready( function(){
           $('form[name="wecreabundle_images"]').submit( function(e){
               e.preventDefault();

               var $form = new FormData($(this)[0]);
               console.log($form);
               $.ajax({
                   method: 'post',
                   url: "{{ path('we_crea_admin_image_carrousel') }}",
                   processData: false,
                   contentType: false,
                   data: $form,

                   success: function (response) {
                       var $formCarrousel = $('form[name="wecreabundle_carrousel"] input[id="wecreabundle_carrousel__token"]');
                       var idImg = response.id;
                       var inputElt = $(document.createElement('input'));
                        console.log(idImg);
                        console.log(response['id']);
                       inputElt.attr('value', '' + idImg + '');
                       inputElt.attr('type', 'hidden');
                       inputElt.attr('name', 'images_id');

                       inputElt.insertBefore($formCarrousel);

                       $('#formCarr').slideDown(800);
                   }
               });
           });

           $('form[name="wecreabundle_carrousel"]').submit( function(e) {
               e.preventDefault();


               var $data = $(this).serialize();
               $.ajax({
                   method: 'post',
                   url: "{{ path('we_crea_admin_add_carrousel') }}",
                   data: $data,
                   success: function (response) {

                       alert("La vignette a bien été créée !");

                       var card = $(document.createElement('div'));
                       card.attr('class', 'card');
                       card.css({'background':  'url({{ asset("bundles/wecrea/images/") }}' +response.images.url+') center',
                            'background-size': 'cover',
                            'display': 'none'});

                       var titleCard = $(document.createElement('h2'));
                       titleCard.text(response.title);

                       var contentCard = $(document.createElement('p'));
                       contentCard.text(response.content);

                       var deleteBtn = $(document.createElement('a'));
                       deleteBtn.attr('class', 'waves-effect waves-light btn black delete_btn');
                       deleteBtn.attr('id', response.id);
                       deleteBtn.attr('href', "#");
                       deleteBtn.text('supprimer');

                       var editBtn = $(document.createElement('a'));
                       editBtn.attr('class', 'waves-effect waves-light btn black edit_btn');
                      // editBtn.attr('href', '');
                       editBtn.text('éditer');

                       card.append(titleCard);
                       card.append(contentCard);
                       card.append(deleteBtn);
                       card.append(editBtn);

                       $('#show_carrousel').prepend(card);
                       card.slideDown(800);

                       $('a').on('click', function (e) {
                           var id = $(this).attr('id');
                           e.preventDefault();
                           $.ajax({
                               method: 'get',
                               url:  "{{ path('we_crea_admin_delete_carrousel') }}",
                               data: {'id': id},
                               success: function (response) {
                                   alert(response);
                                   $('#' + id).parent().slideUp(800);
                               }
                           });
                       });
                   },
                   complete: function () {
                       $('form[name="wecreabundle_images"]').trigger('reset');
                       $('form[name="wecreabundle_carrousel"]').trigger('reset');
                       $('#formCarr').slideUp(800);
                   }
               });
           });
        });
    </script>

{% endblock %}