{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <main>
        <table class="responsive-table bordered striped" id="table_id">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for work in artist.works %}
                <tr id="{{ work.id }}">
                    <td>{{ work.title ~ work.id}}</td>
                    <td><img class="thumbsindex" src="{{ asset("images/" ~ work.images|first.url) }}" alt="{{ work.images|first.alt }}"></td>
                    <td>
                        <div class="boutons">
                            <a href="#" title="Editer"><i class="material-icons contactme">edit</i></a>
                            <a href="#" title="Effacer"id="{{ work.id }}"><i class="material-icons contactme">delete</i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('a[title="Effacer"]').click( function (e) {
                console.log($(this));
                e.preventDefault();
                var id = $(this).attr('id');
                console.log(id);

                var data = {'id': id};

                $.ajax({
                    method: 'get',
                    url: '{{ path('we_crea_admin_works_delete') }}',
                    data: data,

                    success: function (response) {
                        $('#' + response.id).remove();
                    }
                })
            });
        })
    </script>

{% endblock %}