    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="description" content="Les artistes d'abord | Œuvres d’Art, Artistes émergents et reconnus sur notre Galerie d’Art en ligne.">
        <meta name="copyright" content="Fabien Dauvergne && Florent Alemany, Wild Code School Fontainebleau"/>
        <title>{% block title %}Les Artistes d'abord{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/wecrea/pics/favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/wecrea/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block header %}{% endblock %}
    {% block flash_notice %}{% endblock %}
    {% block sidenav %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
    {% if app.request.attributes.get('_route') != "we_crea_work" %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
        </script>
    {% else %}
        <script type="text/javascript" src='{{ asset('bundles/wecrea/vendor/jquery-1.8.3.min.js') }}'></script>
        <script type="text/javascript" src="{{ asset('bundles/wecrea/vendor/fancybox/jquery.fancybox-1.3.4.js') }}"></script>
        <script type="text/javascript" src='{{ asset('bundles/wecrea/vendor/jquery.elevateZoom-3.0.8.min.js') }}'></script>
    {% endif %}
    {#<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="{{ asset('bundles/wecrea/js/wecrea.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("*").on("contextmenu",function(){
                Materialize.toast('Clic droit désactivé', 4000)
                return false;
            });
        });
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-102628575-1', 'auto');
        ga('send', 'pageview');

    </script>
    {% block javascripts %}{% endblock %}
    {% block js_admin %}{% endblock %}
    </body>
    </html>