{% extends '@WeCrea/layout/base_admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/wecrea/vendor/colorpicker/materialize-colorpicker.css') }}">
{% endblock %}

{% block body %}
    <div class="container container-custom-artists">
        <h4 style="background: dodgerblue; color: #fff; padding: 10px;"> Édition du carrousel </h4>
        <button id="buttonAddVignette" class="btn waves-effect waves-light black">
            Ajouter une vignette
            <i class="material-icons left">add</i>
        </button>
        <div style="display: none;" id="formAddVignette" class="row">
            <div class="col m10 offset-m1">
                {{ form_start(formCarrousel) }}
                    <div class="input-field">
                        {{ form_label(formCarrousel.title, "Titre") }}
                        {{ form_widget(formCarrousel.title) }}
                        {{ form_errors(formCarrousel.title) }}
                    </div>
                    <div class="input-field">
                        {{ form_label(formCarrousel.content, "Contenu") }}
                        {{ form_widget(formCarrousel.content, {'attr' : {'class': 'materialize-textarea'}} ) }}
                        {{ form_errors(formCarrousel.content) }}
                    </div>
                    <div class="input-field">
                        {{ form_label(formCarrousel.fontColor) }}
                        {{ form_widget(formCarrousel.fontColor) }}
                        {{ form_errors(formCarrousel.fontColor) }}
                    </div>
                    <div class="input-field">
                        {{ form_label(formCarrousel.rout, "Adresse de la page") }}
                        {{ form_widget(formCarrousel.rout) }}
                        {{ form_errors(formCarrousel.rout) }}
                    </div>
                    <div class="input-field">
                        {{ form_label(formCarrousel.images.alt, "légende image et/ou mots clés") }}
                        {{ form_widget(formCarrousel.images.alt) }}
                        {{ form_errors(formCarrousel.images.alt) }}
                    </div>
                    {{ form_label(formCarrousel.images.url, "Image") }}
                    <div class="file-field input-field col s12">
                        <div class="btn btn-file">
                            <span>Choisissez un fichier</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            {{ form_widget(formCarrousel.images.url, {'attr' : {'class' : 'file-path validate', 'type' : 'text'}} ) }}
                        </div>
                        {{ form_errors(formCarrousel.images.url) }}
                    </div>
                    <div id="check-image"></div>

                    <button class="btn waves-effect waves-light right black" type="submit" name="action">
                        Ajouter la vignette
                        <i class="material-icons left">add</i>
                    </button>
                {{ form_end(formCarrousel) }}
            </div>
        </div>

        <div class="row row_custom">
            <div id="show_carrousel">
                {% for carrousel in carrousels %}
                    <div class="card" style="background: url('{{ asset('images/') }}{{ carrousel.images.url }}') center / cover">
                        <h2 style="color: {% if carrousel.fontColor is not null %}{{ carrousel.fontColor }}{% endif %}">{{ carrousel.title }}</h2>
                        <p style="color: {% if carrousel.fontColor is not null %}{{ carrousel.fontColor }}{% endif %}">{{ carrousel.content }}</p>
                        <a href="{{ path('we_crea_admin_edit_work_carrousel', { 'id': carrousel.id }) }}" class="waves-effect waves-light btn black edit_btn">Editer</a>
                        <a class="waves-effect waves-light btn black delete_btn right" id="{{ carrousel.id }}">Supprimer</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/wecrea/vendor/colorpicker/materialize-colorpicker.js') }}"></script>

    <script type="text/javascript">
        $(document).ready( function(){

            $('#buttonAddVignette').on('click', function () {
                $('#formAddVignette').slideDown(500);
                $('#buttonAddVignette').hide();
            });

            $('.colorpicker').colorpicker({
                format: 'hex',
                color: $('.colorpicker').css('background-color')
            }).on('changeColor', function(ev) {
                $(this).css('background-color',ev.color.toHex());

                var form = $(this).parent().parent();
                var name = form.attr('name');
                $('.' + name + '_button').css('color',ev.color.toHex());
            });

            $('input[type="file"]').on("change", function(){
                var $file = $(this)[0].files[0];

                $img = new Image();
                $img.src = window.URL.createObjectURL($file);
                $img.style.width = "50%";
                $img.style.margin = "20px";

                $button = document.createElement('button');
                $button.style.display = "block";
                $button.style.backgroundColor = "red";
                $button.style.border = "none";
                $button.style.color = "#fff";
                $button.textContent = 'Supprimer';

                $("#check-image").append($img);
                $("#check-image").append($button);

                $button.onclick = function(){

                    $img.remove();
                    $(this).remove();
                }
            });

            $('form[name="wecreabundle_carrousel"]').submit( function(e) {
               e.preventDefault();

               var $data = new FormData($(this)[0]);
               $.ajax({
                   method: 'post',
                   url: "{{ path('we_crea_admin_add_carrousel') }}",
                   data: $data,
                   processData: false,
                   contentType: false,

                   success: function (response) {
                       Materialize.toast('<span class="toast_custom">La vignette a bien été créée !</span>', 4000); // 4000 is the duration of the toast


                       var card = $(document.createElement('div'));
                       card.attr('class', 'card');
                       card.css({'background':  'url({{ asset("images/") }}' +response.images.url+') center',
                            'background-size': 'cover',
                            'display': 'none'});

                       var titleCard = $(document.createElement('h2'));
                       titleCard.text(response.title);

                       var contentCard = $(document.createElement('p'));
                       contentCard.text(response.content);

                       var deleteBtn = $(document.createElement('a'));
                       deleteBtn.attr('class', 'waves-effect waves-light btn black delete_btn');
                       deleteBtn.attr('id', response.id);
                       deleteBtn.text('supprimer');

                       card.append(titleCard);
                       card.append(contentCard);
                       card.append(deleteBtn);

                       $('#show_carrousel').prepend(card);
                       card.slideDown(800);

                       $('.delete_btn').on('click', function (e) {
                           var id = $(this).attr('id');
                           e.preventDefault();
                           $.ajax({
                               method: 'get',
                               url:  "{{ path('we_crea_admin_delete_carrousel') }}",
                               data: {'id': id},
                               success: function (response) {
                                   Materialize.toast('<span class="toast_custom">La vignette a bien été supprimée</span>', 4000); // 4000 is the duration of the toast
                                   $('#' + id).parent().slideUp(800);
                               }
                           });
                       });
                   },
                   complete: function () {
                       $('form[name="wecreabundle_images"]').trigger('reset');
                       $('form[name="wecreabundle_carrousel"]').trigger('reset');
                       $('#formAddVignette').slideUp(800);
                       $('#buttonAddVignette').show();
                   }
               });
           });
            $('.delete_btn').on('click', function (e) {
                var id = $(this).attr('id');
                e.preventDefault();
                $.ajax({
                    method: 'get',
                    url:  "{{ path('we_crea_admin_delete_carrousel') }}",
                    data: {'id': id},
                    success: function (response) {
                        Materialize.toast('<span class="toast_custom">La vignette a bien été supprimée</span>', 4000); // 4000 is the duration of the toast
                        $('#' + id).parent().slideUp(800);
                    }
                });
            });
        });
    </script>

{% endblock %}