{% extends '@WeCrea/layout/base_admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/wecrea/vendor/colorpicker/materialize-colorpicker.css') }}">
{% endblock %}

{% block body %}
    <div class="container container-custom-artists">
        <h4 style="background: dodgerblue; color: #fff; padding: 10px;"> Édition de la vignette: {{ carrousel.title }} </h4>
        <div class="row">
            <div class="col m10 offset-m1">
                {{ form_start(formCarrousel) }}
                <div class="input-field">
                    {{ form_label(formCarrousel.title, "Titre") }}
                    {{ form_widget(formCarrousel.title) }}
                    {{ form_errors(formCarrousel.title) }}
                </div>
                <div class="input-field">
                    {{ form_label(formCarrousel.content, "Contenu") }}
                    {{ form_widget(formCarrousel.content, {'attr' : {'class': 'materialize-textarea'}} ) }}
                    {{ form_errors(formCarrousel.content) }}
                </div>
                <div class="input-field">
                    {{ form_label(formCarrousel.fontColor) }}
                    {{ form_widget(formCarrousel.fontColor) }}
                    {{ form_errors(formCarrousel.fontColor) }}
                </div>
                <div class="input-field">
                    {{ form_label(formCarrousel.rout, "Adresse de la page") }}
                    {{ form_widget(formCarrousel.rout) }}
                    {{ form_errors(formCarrousel.rout) }}
                </div>
                <div class="input-field">
                    {{ form_label(formCarrousel.images.alt, "légende image et/ou mots clés") }}
                    {{ form_widget(formCarrousel.images.alt) }}
                    {{ form_errors(formCarrousel.images.alt) }}
                </div>
                {{ form_label(formCarrousel.images.url, "Image") }}
                <div class="file-field input-field col s12">
                    <div class="btn btn-file">
                        <span>Choisissez un fichier</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        {{ form_widget(formCarrousel.images.url, {'attr' : {'class' : 'file-path validate', 'type' : 'text'}, 'required': false} ) }}
                    </div>
                    {{ form_errors(formCarrousel.images.url) }}
                </div>
                <div id="check-image">
                    <img style="margin: 20px; width: 50%;" id="currentImg" src="{{ asset('images/' ~ carrousel.images.url ) }}" alt="{{ carrousel.images.alt }}">
                </div>
                <button class="btn waves-effect waves-light right black" type="submit">
                    Modifier la vignette
                    <i class="material-icons left">add</i>
                </button>
                {{ form_end(formCarrousel) }}
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/wecrea/vendor/colorpicker/materialize-colorpicker.js') }}"></script>

<script type="text/javascript">
    $(document).ready( function() {

        $('.colorpicker').colorpicker({
            format: 'rgb',
            color: $('.colorpicker').css('background-color')
        }).on('changeColor', function (ev) {
            $(this).css('background-color', ev.color.toHex());

            var form = $(this).parent().parent();
            var name = form.attr('name');
            $('.' + name + '_button').css('color', ev.color.toHex());
        });

        $('input[type="file"]').on("change", function () {
            var $file = $(this)[0].files[0];

            $img = new Image();
            $img.src = window.URL.createObjectURL($file);
            $img.style.width = "50%";
            $img.style.margin = "20px";

            $('#currentImg').remove();
            $("#check-image").append($img);
        });

    });

</script>

{% endblock %}