{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3 id="title-actu"> Nos actualités </h3>
            {% for actu in actus %}
                <div class="actu-user">
                    <h4>{{ actu.title }}</h4>
                    <figure class="figure-no-zoom">
                        <div class="dezoom"></div>
                        <img src="{{ asset('images/'~actu.images.url) }}" class="image-no-zoom"/>
                    </figure>
                    <div class="content">
                    {% autoescape %}
                        {{ actu.content|raw }}
                    {% endautoescape %}
                    </div>
                    <i>Publié le {{ actu.date|date('d/m/Y') }}</i>
                </div>
            {% endfor %}
        </div>
    <div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
if($(window).width() > 768){

    /*** Functions on top FIRST ! ***/

    /* Let's change cursor + add some zoom effect
    *  when hovering over the picture
    */
    function showPointer(){
        $(this).css({
            'cursor' : 'pointer',
            'transform' : 'scale(1.1)',
            '-moz-transform' : 'scale(1.1)',
            '-webkit-transform' : 'scale(1.1)',
            '-moz-transition' : '.5s',
            '-webkit-transition' : '.5s'
        });
    }

    /* If mouseleave, we get the picture back to normal scale */
    function unZoom(){
        $(this).css({
            'transform' : 'scale(1)',
            '-moz-transform' : 'scale(1)',
            '-webkit-transform' : 'scale(1)'
        });
    }

    /* Let's display a bigger picture */
    function zoomIn(){
        $(this).off('click', zoomIn);
        $(this).off('mouseover', showPointer);
        $(this).off('mouseleave', unZoom);

        $figureElt = $(this).parent();
        $img = $(this);
        $dezoom = $(this).parent().find('.dezoom');

        $bodyElt.css("overflow" , "hidden");
        $figureElt.addClass('figure-zoom');
        $img.addClass('image-zoomed-in');
        $img.css({
            'cursor' : 'initial',
            'transform' : 'scale(1)',
            '-moz-transform' : 'scale(1)',
            '-webkit-transform' : 'scale(1)',
            'transition' : '0s',
            '-moz-transition' : '0s',
            '-webkit-transition' : '0s'
        });

        $dezoom.click(function(){
            $bodyElt.css("overflow" , "visible");
            $figureElt.removeClass('figure-zoom');
            $img.removeClass('image-zoomed-in');
            $img.css('cursor' , 'pointer');
            $img.on("click", zoomIn);
            $img.on("mouseover", showPointer);
            $img.on("mouseleave", unZoom);
        });
    }

    /* Selectors */
    var $figureElts = $('.figure-no-zoom img');
    var $bodyElt = $('body');

    /*** Functions executed depending on the event ***/
    $figureElts.on("mouseover", showPointer);
    $figureElts.on("mouseleave", unZoom);
    $figureElts.on("click", zoomIn);

}
</script>
{% endblock %}