{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>{{ artist.name }} {{ artist.firstname }}</h2>
            {% for image in artist.images %}
                <div class="col s12 artist-img">
                    <img src="{{ asset('images/'~image.url) }}" class="artist-img"/>
                </div>
            {% endfor %}
            <div class="col s12">
                <p>{{ artist.localization }}</p>
            </div>
            <div class="col s12">
                <p>Localisation : {{ artist.localization }}</p>
            </div>
            <div class="col s12">
                <p>Expertise : {{ artist.localization }}</p>
            </div>
            <div class="col s12">
                <p>À propos {{ artist.biography }}</p>
            </div>
        </div>
        <div class="row">
            <h4> Les oeuvres de l'artiste </h4>
            <div class="cards">
            {% for work in artist.works %}
                <div class="card card_custom_artists cardResizer">
                    {% if work.images|first != false %}
                        <div class="card-image waves-effect waves-block waves-light card-image_custom" style="background: url(' {{ asset('images/'~artist.images|first.url ) }} ') center / cover ">
                        </div>
                    {% else %}
                        <div class="card-image waves-effect waves-block waves-light card-image_custom" style="background: url(' {{ asset('images/soap.jpg' ) }} ') center / cover ">
                        </div>
                    {% endif %}
                    <div class="card-content card-content_custom">
                        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                        <p><a href="#"></a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                        <b>{{ work.title }}</b>
                        <p>{{ work.description[0:50] }}</p>
                        <p></p>
                        <a href="{{ path('we_crea_work', {'id' : work.id} ) }}"> Accéder à l'oeuvre </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}