{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <main>
        <h2>Les artistes</h2>
        <div class="cards">
            {% for artist in artists %}
                <div class="card card_custom cardResizer">
                    {% if artist.images|first != false %}
                        <div class="card-image waves-effect waves-block waves-light card-image_custom" style="background: url(' {{ asset('images/'~artist.images|first.url ) }} ') center / cover ">
                        </div>
                    {% else %}
                        <div class="card-image waves-effect waves-block waves-light card-image_custom" style="background: url(' {{ asset('images/soap.jpg' ) }} ') center / cover ">
                        </div>
                    {% endif %}
                    <div class="card-content card-content_custom">
                        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                        <p><a href="#"></a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                        <b>{{ artist.name }} {{ artist.firstname }}</b>
                        <p>{{ artist.biography[0:50] }}... </p>
                        <a href="{{ path('we_crea_artist', {'id' : artist.id} ) }}"> Accéder au profil </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}