{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <main class="container">

        <div class="row"
             style="margin-top: 30px; display: none;"
             id="favsShow"
        >
            {% if favs is empty %}
                <h2>Vous n'avez aucune oeuvre dans vos favoris</h2>
            {% else %}
                {% for work in favs %}
                    <div class="col s12 m6 l4" id="work_id_{{ work.id }}">
                        <div class="card">
                            <a href="{{ path('we_crea_work', {'id' : work.id}) }}">
                                <div
                                        class="card-image waves-effect waves-block waves-light card-image_custom"
                                        style="background: url('{{ work.images[0].url | imagine_filter('xLarge') }}') center / cover ">
                                    <div class="fav_btn_delete" data="{{ work.id }}">
                                        <button class="btn">Retirer des favoris</button>
                                    </div>
                                </div>
                            </a>
                            <div class="card-content card-content_custom">
                                <span class="card-title grey-text text-darken-4 title">
                                    <p>
                                        {{ work.title }}
                                    </p>
                                </span>
                                <span class="card-artist">
                                     <p>
                                        <a href="{{ path('we_crea_artist', {id : work.artist.id} ) }}" class="artist">{{ work.artist.firstname }} {{ work.artist.name }}</a>
                                    </p>
                                </span>

                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
    </main>
{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script>

        $('#favsShow').imagesLoaded( function() {
            $('#favsShow').fadeIn(900);
            cardResize();
        });

        // Show "add favs" button on mouse hover card-image
        $('.card-image').hover( function () {
            $(this).find('.fav_btn_delete').slideDown(200);
        }, function () {
            $(this).find('.fav_btn_delete').slideUp(200);

        });

        $('.fav_btn_delete').on('click', function (e) {
            e.preventDefault();

            var data = {'idWork': $(this).attr('data')};
            var btn = $(this);
            $.ajax({
                method: 'post',
                url: '{{ path('we_crea_delete_fav') }}',
                data: data,

                success: function (response) {
                    Materialize.toast('<span class="toast_custom">' + response.name + ' a été retiré(e) de vos favoris</span>', 4000) // 4000 is the duration of the toast
                    $('#work_id_' + response.id).fadeOut();
                    cardResize();
                }
            })
        });
    </script>

{% endblock %}