{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <main>
        <div class="container custom">
            <div class="slider fullscreen slider_custom">
                <ul class="slides">
                    {% for carrousel in carrousels %}
                        <li>
                            <a href="{{ carrousel.rout }}" target="_blank">
                                <img src="{{ asset("images/") }}{{ carrousel.images.url }}" alt="{{ carrousel.images.alt }}">
                                <div class="caption left-align caption_custom">
                                    <h2>{{ carrousel.title }}</h2>
                                    <p>{{ carrousel.content }}</p>
                                </div>
                            </a>

                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </main>

{% endblock %}
