{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/wecrea/vendor/fancybox/jquery.fancybox-1.3.4.css') }}">

{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row row_top">
                <div class="col m7 img_basket">
                    <div class="center-align">
                        {% if images|first.url is defined %}
                            <img id="zoom_03" height="350" src="{{ images|first.url | imagine_filter('small') }}" data-zoom-image="{{ asset('images/' ~ images|first.url) }}" alt="{{ images|first.alt }}">
                        {% endif %}
                    </div>
                    <div id="gallery_01">
                        {% for image in images %}
                            <a href="#" data-image="{{ image.url | imagine_filter('small') }}" data-zoom-image="{{ asset('images/' ~ image.url) }}">
                                <img src="{{ image.url | imagine_filter('thumb') }}" alt="{{ image.alt }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="col m5 work_desc">
                    <h2>{{ work.title }}</h2>
                    <p>{{ work.artist.name }}</p>
                    <form method="post" action="{{ path('we_crea_add_basket') }}" name="addBasket">
                        <div class="row">
                            <p class="col m3">
                                Quantité : <input type="number" name="quantity" value="1" min="1" max="{% if caracts is defined %} {{ caracts[0].quantity }} {% endif %}">
                                <input type="hidden" name="work_id" value="{{ work.id }}">
                            </p>
                            <p class="col m7 offset-m2">
                                Prix : <span id="price">{% if caracts is defined %} {{ caracts[0].price }} €{% endif%}</span>
                            </p>
                        </div>
                        <div class="row">
                            <p>
                                Dimensions :
                                <select name="caract">
                                    {% for key, caract in caracts %}
                                        <option value="{{ caract.id }}" price="{{ caract.price }}" quant="{{ caract.quantity }}" {% if key == 0 %}selected{% endif %}>{{ caract.dimension }} - poids : {{ caract.weigth }} - prix : {{ caract.price }}€</option>
                                    {% endfor %}
                                </select>
                            </p>
                        </div>
                        {% if caracts[0].quantity <= 0 %}
                            <input type="submit" class="btn black disabled" value="Épuisé">
                        {% else %}
                            <input type="submit" class="btn black" value="Ajouter au panier">
                        {% endif %}
                    </form>
                </div>

                <div class="row">
                    <div class="col m12">
                        <p><u>Technique :</u> {{ work.technic }}</p>
                    </div>
                    <div class="col m12">
                        <p><u>Description :</u> {{ work.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {

            $("#zoom_03").elevateZoom({
                constrainType:"height",
                constrainSize:350,
                gallery:'gallery_01',
                cursor: 'pointer',
                galleryActiveClass: 'active',
                lensSize : 100,
                //scrollZoom : true,
                responsive: true
            }
        );

            //pass the images to Fancybox
            $("#zoom_03").bind("click", function(e) {
                var ez = $('#zoom_03').data('elevateZoom');
                $.fancybox(ez.getGalleryList());
                return false;
            });

            $('select[name="caract"]').on('change', function () {
                var selected = $(this).find('option:selected');
                var quant = selected.attr('quant');
                var price = selected.attr('price');
                console.log(quant);
                $('input[name="quantity"]').attr('max', quant);
                $('#price').text(price + ' €');

                var submit = $('input[type="submit"]');
                if(quant == 0) {
                    submit.addClass('disabled');
                    submit.attr('value', 'Épuisé');
                }
                else{
                    submit.removeClass('disabled');
                    submit.attr('value', 'Ajouter au panier');
                }
            });
        });
    </script>
{% endblock %}