{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <main>
        {% include '@WeCrea/layout/nav_works.html.twig' %}

        <div class="cardz" style="height: 700px!important;">
            <div class="buttons filters-button-group row">
                <div class="col m4 iso_item iso_link Tous" data-filter=".Tous">
                    <button style="background: url('{{ asset('bundles/wecrea/pics/cardIsotop/peinture 1.jpg') }}') center no-repeat; background-size: cover;" class="tous_btn" data-filter=".Peinture">Peinture</button>
                </div>
                <div class="col m4 iso_item iso_link Tous" data-filter=".Tous">
                    <button style="background: url('{{ asset('bundles/wecrea/pics/cardIsotop/peinture 2.jpg') }}') center no-repeat; background-size: cover;" class="tous_btn" data-filter=".Sculpture">Sculpture</button>
                </div>
                <div class="col m4 iso_item iso_link Tous" data-filter=".Tous">
                    <button style="background: url('{{ asset('bundles/wecrea/pics/cardIsotop/photo.jpg') }}') center no-repeat; background-size: cover;" class="tous_btn" data-filter=".Dessin">Dessin</button>
                </div>
                <div class="col m4 iso_item iso_link Tous" data-filter=".Tous">
                    <button class="tous_btn" data-filter=".Photographie">Photographie</button>
                </div>
                <div class="col m4 iso_item iso_link Tous" data-filter=".Tous">
                    <button style="background: url('{{ asset('bundles/wecrea/pics/cardIsotop/sculpture.jpg') }}') center no-repeat; background-size: cover;" class="tous_btn" data-filter=".Artisanat_dart">Artisanat d'art</button>
                </div>
                <div class="col m4 iso_item iso_link Tous" data-filter=".Tous">
                    <button class="tous_btn" data-filter=".Curiosités">Curiosités</button>
                </div>
            </div>
            {% for work in works %}
                <div class="card card_custom_work iso_item  cardResizer {{ work.nature.name }}" data-filter=".{{ work.nature.name }}">

                    <a href="{{ path('we_crea_work', {'id' : work.id}) }}">
                        <div class="card-image waves-effect waves-block waves-light card-image_custom"
                        {% if work.images[0] is defined %}
                             style="background: url('{{ asset("images/" ~ work.images[0].url) }}') center / cover"
                        {% endif %}
                        >
                            {% if favs[work.id] is defined %}
                            <div class="fav_btn_delete" data="{{ work.id }}">
                                <button class="btn">Retirer des favoris</button>
                            </div>
                            {% else %}
                            <div class="fav_btn" data="{{ work.id }}">
                                <button class="btn">Ajouter aux favoris</button>
                            </div>
                            {% endif %}
                        </div>
                    </a>
                    <div class="card-content card-content_custom">
                        {% set quantity = 0 %}
                        {% for caract in work.caracts %}
                            {% set quantity = quantity + caract.quantity %}
                        {% endfor %}
                        {% if quantity == 0 %}
                            <span class="sold">
                                <img src="{{ asset('bundles/wecrea/pics/vendu.png') }}" alt="vendu">
                            </span>
                        {% endif %}

                        <span class="card-title activator grey-text text-darken-4 title">{{ work.title }}
                            <img class="show_more activator" src="{{ asset('bundles/wecrea/pics/Picto-4.png') }}" alt="voir plus">
                        </span>
                        <p>
                            <a href="{{ path('we_crea_artist', {id : work.artist.id} ) }}" class="artist">{{ work.artist.name }}</a>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ work.title }}<i class="material-icons right">close</i></span>
                        <p> <b>Description : </b>{{ work.description }} </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            function addFav() {
                $('.fav_btn').click( function (e) {
                    e.preventDefault();
                    var data = {'idWork': $(this).attr('data')};
                    var btn = $(this);
                    console.log(data);
                    $.ajax({
                        method: 'post',
                        url: '{{ path('we_crea_add_fav') }}',
                        data: data,

                        success: function (response) {
                            Materialize.toast('<span class="toast_custom">' + response.name + ' a été ajouté(e) à vos favoris</span>', 4000) // 4000 is the duration of the toast

                            $('.fCount').text(response.fCount);
                            btn.find('button').text('Retirer des favoris');
                            btn.removeClass('fav_btn');
                            btn.addClass('fav_btn_delete');
                            deleteFav();
                        }
                    })
                });
            };

            function deleteFav() {
                $('.fav_btn_delete').click( function (e) {
                    e.preventDefault();

                    var data = {'idWork': $(this).attr('data')};
                    var btn = $(this);
                    $.ajax({
                        method: 'post',
                        url: '{{ path('we_crea_delete_fav') }}',
                        data: data,

                        success: function (response) {
                            Materialize.toast('<span class="toast_custom">' + response.name + ' a été retiré(e) de vos favoris</span>', 4000) // 4000 is the duration of the toast
                            $('.fCount').text(response.fCount);
                            btn.find('button').text('Ajouter aux favoris');
                            btn.removeClass('fav_btn_delete');
                            btn.addClass('fav_btn');
                            addFav();
                        }
                    })
                });
            };
            addFav();
            deleteFav();
        })
    </script>
{% endblock %}