{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <main>
        <div class="buttons filters-button-group nav_works nav_works_custom">
            <button class="waves-effect waves-light btn iso_button iso_link active_button" data-filter=".Tous">Tous</button>
            {% for nature in natures %}
                <button class="waves-effect waves-light iso_button iso_link btn" data-filter=".{{ nature.name|replace({"'": '_', ' ': '_'}) }}">{{ nature.name }}</button>
            {% endfor %}
        </div>

        <div class="cardz" style="height: 700px!important;">
            <div class="buttons btn_card filters-button-group row">
                {% for nature in natures %}
                    <div class="col s12 m6 l4 iso_item iso_link Tous resizer" data-filter=".Tous">
                        <button style="
                                margin-bottom: 0;
                                height: 70%;
                                background: url('{{ asset('images/' ~ nature.images.url) }}') center no-repeat;
                                color: {{ nature.fontColor }};
                                background-size: cover;"
                                class="tous_btn"
                                data-filter=".{{ nature.name|replace({"'": '_', ' ': '_'}) }}">{{ nature.name }}
                        </button>
                    </div>
                {% endfor %}
            </div>
            {% for work in works %}
                <div class="card card_custom_work iso_item {{ work.nature.name|replace({"'": '_', ' ': '_'}) }}" data-filter=".{{ work.nature.name|replace({"'": '_', ' ': '_'}) }}">

                    <a href="{{ path('we_crea_work', {'id' : work.id}) }}">
                        <div class="card-image waves-effect waves-block waves-light card-image_custom"
                        {% if work.images[0] is defined %}
                             style="background: url('{{ work.images[0].url | imagine_filter('large') }}') center / cover"
                        {% endif %}
                        >
                            {% if favs[work.id] is defined %}
                            <div class="fav_btn_delete" data="{{ work.id }}">
                                <button class="btn">Retirer des favoris</button>
                            </div>
                            {% else %}
                            <div class="fav_btn" data="{{ work.id }}">
                                <button class="btn">Ajouter aux favoris</button>
                            </div>
                            {% endif %}
                        </div>
                    </a>
                    <div class="card-content card-content_custom">
                        {% set quantity = 0 %}
                        {% for caract in work.caracts %}
                            {% set quantity = quantity + caract.quantity %}
                        {% endfor %}
                        {% if quantity <= 0 %}
                            <span class="sold" style="position: absolute; bottom: 5px; right: 5px">
                                <img src="{{ asset('bundles/wecrea/pics/Vendu.jpg') }}" alt="vendu">
                            </span>
                        {% endif %}

                        <span class="card-title activator grey-text text-darken-4 title">
                            <p style="margin-right: 30px;">{{ work.title }}</p>
                            <img class="show_more activator" src="{{ asset('bundles/wecrea/pics/Picto-4.png') }}" alt="voir plus">
                        </span>
                        <p>
                            <a href="{{ path('we_crea_artist', {id : work.artist.id} ) }}" class="artist">{{ work.artist.firstname }} {{ work.artist.name }}</a>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ work.title }}<i class="material-icons right">close</i></span>
                        <p> <b>Description : </b>{{ work.description }} </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('.fav_btn').on('click', function (e) {

                function addFav() {
                    e.preventDefault();
                    var data = {'idWork': $(this).attr('data')};
                    var btn = $(this);
                    console.log(data);
                    $.ajax({
                        method: 'post',
                        url: '{{ path('we_crea_add_fav') }}',
                        data: data,

                        success: function (response) {
                            Materialize.toast('<span class="toast_custom">' + response.name + ' a été ajouté(e) à vos favoris</span>', 4000) // 4000 is the duration of the toast

                            $('.fCount').text(response.fCount);
                            btn.find('button').text('Retirer des favoris');
                            btn.removeClass('fav_btn');
                            btn.addClass('fav_btn_delete');
                            deleteFav();
                        }
                    })
                };
            });

            $('.fav_btn_delete').on('click', function (e) {

            function deleteFav() {
                    e.preventDefault();

                    var data = {'idWork': $(this).attr('data')};
                    var btn = $(this);
                    $.ajax({
                        method: 'post',
                        url: '{{ path('we_crea_delete_fav') }}',
                        data: data,

                        success: function (response) {
                            Materialize.toast('<span class="toast_custom">' + response.name + ' a été retiré(e) de vos favoris</span>', 4000) // 4000 is the duration of the toast
                            $('.fCount').text(response.fCount);
                            btn.find('button').text('Ajouter aux favoris');
                            btn.removeClass('fav_btn_delete');
                            btn.addClass('fav_btn');
                            addFav();
                        }
                    })
                };
            });
        })
    </script>
{% endblock %}