{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <div class="row row_top">
                <div class="col m7 images_content">
                    <div class="slider-for images_content_show">
                        {% for image in images %}
                            <div class="image_work image" value="{{ loop.index }}">
                                {#
                                <div class='image_zoom'></div>
                                <div class='image_dezoom'></div>
                                <div class='image_button_right'></div>
                                <div class='image_button_left'></div>
                                #}
                                <img src="{{ asset('images/') }}{{ image.url }}" alt="{{ image.alt }}"/>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="slider-nav images_content_nav">
                        {% for image in images %}
                            <div class="slider-for__item item-nav">
                                <img src="{{ asset('images/') }}{{ image.url }}" alt="{{ image.alt }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col m5 work_desc">
                    <h2>{{ work.title }}</h2>
                    <p>{{ work.artist.name }}</p>
                    <form method="post" action="{{ path('we_crea_add_basket') }}" name="addBasket">
                        <div class="row">
                            <p class="col m3">
                                Quantité : <input type="number" name="quantity" value="1" min="1" max="{{ caracts[0].quantity }}">
                                <input type="hidden" name="work_id" value="{{ work.id }}">
                            </p>
                            <p class="col m7 offset-m2">
                                Restant : <span id="quant_max">{{ caracts[0].quantity }}</span>
                            </p>
                        </div>
                        <div class="row">
                            <p>
                                Dimensions :
                                <select name="caract">
                                    {% for key, caract in caracts %}
                                        <option value="{{ caract.id }}" quant="{{ caract.quantity }}" {% if key == 0 %}selected{% endif %}>{{ caract.dimension }} - poids : {{ caract.weigth }} - prix : {{ caract.price }}€</option>
                                    {% endfor %}
                                </select>
                            </p>
                        </div>
                        <input type="submit" class="btn black" value="Ajouter au panier">
                    </form>
                </div>

                <div class="row">
                    <div class="col m12">
                        <p><u>Technic :</u> {{ work.technic }}</p>
                    </div>
                    <div class="col m12">
                        <p><u>Description :</u> {{ work.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('select[name="caract"]').on('change', function () {
                var quant = $(this).find('option:selected');
                quant = quant.attr('quant');
                console.log(quant);
                $('input[name="quantity"]').attr('max', quant);
                $('#quant_max').text(quant);
            });

            /**** A implémenter si le temps ****/

            /*
            $('.image').hover(function(){
                $(this).css({'box-shadow':'0 0 10px #111','transition':'.5s'});
            }, function(){
                $(this).css({'box-shadow':'0 0 5px #777','transition':'.5s'});
            });

            $(function() {
                $Img = $('.image');
                Index = $Img.length - 1;

                function imageRemoveAnimation() {
                    $Img.removeClass('image_animation');
                    $Img.css('transition', '0s');
                    $Img.find('img').css({'height': 'calc(60vh * 60/100)', 'width': 'auto'});
                }

                function imageAnimation() {

                    $Img.find('.image_zoom, .image_dezoom, .image_button_left, .image_button_right').css('opacity', '0');
                    $CurrentImg.addClass('image_animation');
                    $CurrentImg.find('img').css({'height': '100vh', 'width': 'auto'});
                    $CurrentImg.css('transition', '0s');

                    if (Index >= 1) {
                        $CurrentImg.find('.image_button_left, .image_button_right').css('opacity', '1');
                    }

                    $CurrentImg.find('.image_zoom').css({'opacity': '0', 'z-index': '0'});
                    $CurrentImg.find('.image_dezoom').css({'opacity': '1', 'z-index': '1'});
                    $('body').css('overflow', 'hidden');
                }

                function slideImg(arg) {
                    $CurrentImg = $Img.eq(arg);
                    console.log(arg);
                    $Img.find('.image_zoom').css('opacity', '0');
                    imageRemoveAnimation();
                    imageAnimation();
                }

                $('.image_zoom').click(function () {
                    if (Index >= 2) {
                        var i = $(this).parent()[0].getAttribute('value') - 1;
                        $CurrentImg = $Img.eq(i);
                    }

                    if (Index < 2) {
                        var a = $(this).parent()[0].getAttribute('value') - 1;
                        $CurrentImg = $Img.eq(a);
                    }
                    imageAnimation();

                    $('.image_button_right').click(function () {

                        if (Index >= 2) {
                            if (i < Index) {
                                i++;
                            }
                            else {
                                i = 0;
                            }
                            slideImg(i);
                        }

                        else {
                            if (a < Index) {
                                a++;
                            }
                            else {
                                a = 0;
                            }
                            slideImg(a);
                        }
                    });

                    $('.image_button_left').click(function () {

                        if (Index >= 2) {
                            if (i > 0) {
                                i--;
                            }
                            else {
                                i = Index;
                            }
                            slideImg(i);
                        }
                        else {

                            if (a > 0) {
                                a--;
                            }
                            else {
                                a = 1;
                            }
                            slideImg(a);
                        }
                    });

                    $('.image_dezoom').click(function () {
                        imageRemoveAnimation();
                        $Img.find('.image_zoom').css({'opacity': '1', 'z-index': '1'})
                        $Img.find('.image_dezoom').css({'opacity': '0', 'z-index': '0'});
                        $Img.find('.image_button_right, .image_button_left').css({'opacity': '0'});
                        $('body').css('overflow', 'visible');
                        i = 0;
                        a = 0;
                    });
                });
            });
            */
        });
    </script>
{% endblock %}