{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <div class="navbar-fixed nav_custom_cont">
            <nav class="nav_custom">
                <div class="nav-wrapper">
                    <a href="{{ path('we_crea_homepage') }}" class="brand-logo logo_container"><img class="logo" src="{{ asset('bundles/wecrea/pics/Les-Artistes-d\'abord.png') }}" alt="logo"></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse button-collapse-custom"><i class="material-icons">menu</i></a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{ path('we_crea_homepage') }}">Accueil</a></li>
                        <li><a href="{{ path('we_crea_concept') }}">Concept</a></li>
                        <li><a href="{{ path('we_crea_works') }}">Oeuvres</a></li>
                        <li><a href="{{ path('we_crea_artists_list') }}">Artistes</a></li>
                        <li><a href="{{ path('we_crea_actu') }}">Actualités</a></li>
                        <li>
                            <form name="search" method="post" action="{{ path('we_crea_search') }}">
                                <input type="search" name="search" class="search" placeholder="Recherche"/>
                                <ul class="suggest"></ul>
                                <button type="submit" class="button-search">
                                    <i class="material-icons right">search</i>
                                </button>
                            </form>
                          <li id="profil_icon">
                            <a href="{{ path('we_crea_user_profil') }}">
                                <i class="material-icons">person</i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('we_crea_basket') }}" class="valign-wrapper">
                                <img class="bask_icon" src="{{ asset('bundles/wecrea/pics/Panier.png') }}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('we_crea_favs') }}">
                                <img class="fav_icon" src="{{ asset('bundles/wecrea/pics/Coup-de-coeur.png') }}" alt="">
                            </a>
                        </li>
                    </ul>

                    <ul id="mobile-demo" class="side-nav side-nav-custom">
						<li>
                            <form name="search" method="post" action="{{ path('we_crea_search') }}">
                                <input type="search" name="search" class="search" placeholder="Recherche"/>
                                <input type="submit" value="OK" id="validation-search"/>
                            </form>
                        </li>
                        <li><a href="{{ path('we_crea_homepage') }}">Accueil</a></li>
                        <li><a href="{{ path('we_crea_concept') }}">Concept</a></li>
                        <li><a href="{{ path('we_crea_works') }}">Oeuvres</a></li>
                        <li><a href="{{ path('we_crea_artists_list') }}">Artistes</a></li>
                        <li><a href="{{ path('we_crea_actu') }}">Actualités</a></li>
                        <li id="profil_icon">
                            <a href="{{ path('we_crea_user_profil') }}">
                                <i class="material-icons">person</i>
                            </a>
                            <a href="{{ path('we_crea_basket') }}">
                                <img class="bask_icon" src="{{ asset('bundles/wecrea/pics/Panier.png') }}" alt="">
                            </a>
                            <a href="{{ path('we_crea_favs') }}">
                                <img class="fav_icon" src="{{ asset('bundles/wecrea/pics/Coup-de-coeur.png') }}" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}
{% block flash_notice %}
    {% for flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <p id="alert-newsletter-subscription">{{ flash }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block body %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}

{% endblock %}

{% block footer %}
    <footer class="page-footer">
        <div class="container container_footer">
            <div class="row row_custom" style="margin-bottom: 0">
                <div class="col l6 s12">
                    <h5>Fiscalité entreprises</h5>
                    <p>Texte défiscalisation?</p>
                    <form name="newsletter" method="post" id="form-newsletter" action="{{ path('we_crea_newsletter') }}" style="display: flex; justify-content: space-between">
                        <label for="newsletter" style="color: #fff; font-size: 1em; height: 30px;">Inscription Newsletter</label>
                        <input type="email" name="email" placeholder="Saisissez votre email" required style="width: 60%; height: 30px; background: #fff; text-indent: 5px;">
                        <input type="submit" style="background: black; height: 30px; width: 100px; border: none; color: #fff;">
                    </form>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5>Contacts</h5>
                    <ul>
                        <li><a href="{{ path('we_crea_contact') }}">Nous contacter</a></li>
                        <li><a href="#!">Facebook</a></li>
                        <li><a href="#!">Twitter</a></li>
                        <li><a href="#!">Instagram</a></li>
                        <li><a href="#!">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright bar_footer">
            <div class="container">
                © 2017 Copyright WCS
                <a class="right" id="moreLink">More Links</a>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        {% if app.request.get('_route') == 'we_crea_homepage' or
              app.request.get('_route') == 'we_crea_actu'
        %}
            var $footer = $('footer');

            $footer.css({
                'position' : 'absolute',
                'bottom' : '0',
                'left' : '0',
                'width' : '100vw'
            });
        {% endif %}

        /************ SUGGESTIONS MOTEUR DE RECHERCHE ***************/

       'use strict';

       if(window.innerWidth >= 1024) {
           var searchBar = document.getElementsByClassName('search');

           var suggestElt, liElt, timer, search, formSearch;
           var t = [];

           function cleanUp() {
               while (suggestElt.firstChild) {
                   suggestElt.firstChild.removeEventListener('mouseover', blueBackground);
                   suggestElt.firstChild.removeEventListener('mouseleave', whiteBackground);
                   suggestElt.firstChild.removeEventListener('click', searchBarValue);
                   suggestElt.removeChild(suggestElt.firstChild);
               }
           }

           function ajaxGetResults(url, search, callback) {
               var req;
               if (window.XMLHttpRequest) {
                   req = new XMLHttpRequest();
               }
               else {
                   req = new ActiveXObject("Microsoft.XMLHTTP");
               }
               req.open('post', url, true);
               req.addEventListener('load', function () {
                   if (req.status >= 200 && req.status < 400) {
                       callback(req.responseText);
                   }
               });
               req.addEventListener('error', function () {
                   console.log('error');
               });
               req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
               req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
               req.send("search=" + search);
           }

           function blueBackground() {
               this.style.cursor = 'pointer';
               this.style.backgroundColor = '#1E90FF';
               this.style.color = '#fff';
           }

           function whiteBackground() {
               this.style.backgroundColor = '#fff';
               this.style.color = 'black';
           }

           function searchBarValue() {
               searchBar.value = this.textContent;
               cleanUp();
           }

           function styleSuggestions() {
               for (var i = 0; i < suggestElt.childNodes.length; ++i) {
                   suggestElt.childNodes[i].addEventListener('mouseover', blueBackground);
                   suggestElt.childNodes[i].addEventListener('mouseleave', whiteBackground);
                   suggestElt.childNodes[i].addEventListener('click', searchBarValue);
               }
           }

           function getResults(e) {

               searchBar = this;
               formSearch = this.parentNode;
               suggestElt = this.nextElementSibling;

               function showSuggestions(results) {
                   results = JSON.parse(results);
                   console.log(results);
                   var resultsLength;

                   if (results != 'Aucune suggestion') {

                       cleanUp();

                       results[0].length > 8 ? resultsLength = 8 : resultsLength = results[0].length;

                       for (var i = 0; i < resultsLength ; ++i)
                       {
                           liElt = document.createElement('li');
                           liElt.style.width = "100%";
                           liElt.style.position = "relative";
                           liElt.style.textIndent = "10px";
                           liElt.style.textAlign = "left";
                           liElt.style.color = "black";
                           liElt.style.backgroundColor = "#fff";
                           liElt.style.fontSize = ".9em";
                           liElt.textContent = results[0][i].title;
                           suggestElt.appendChild(liElt);
                       }

                       for(var i = 0; i <results[1].length; ++i)
                       {
                           liElt = document.createElement('li');
                           liElt.style.width = "100%";
                           liElt.style.position = "relative";
                           liElt.style.textIndent = "10px";
                           liElt.style.textAlign = "left";
                           liElt.style.color = "black";
                           liElt.style.backgroundColor = "#fff";
                           liElt.style.fontSize = ".9em";
                           liElt.textContent = results[1][i].name + " " + results[1][i].firstname + " " + "(Artiste)";

                           suggestElt.appendChild(liElt);
                       }
                       styleSuggestions();
                   }
                   else {

                       cleanUp();

                       liElt = document.createElement('li');
                       liElt.style.width = "100%";
                       liElt.style.textIndent = "10px";
                       liElt.style.color = "black";
                       liElt.style.backgroundColor = '#fff';
                       liElt.textContent = results;
                       suggestElt.appendChild(liElt);
                   }
               }

               function request() {
                   var search = searchBar.value;
                   if (search.trim().length > 0) {
                       ajaxGetResults("{{ path('we_crea_search') }}", search, showSuggestions);
                   }
                   if (search.length === 0) {
                       setTimeout(function () {
                           cleanUp();
                       }, 300);
                   }
               }

               t.push(new Date().getTime());

               if (t.length > 1) {
                   if (t[1] < t[0] + 349) {
                       window.clearTimeout(timer);
                   }
                   timer = setTimeout(function () {
                       request();
                   }, 350);
                   t = [t[1]];
               }
           }

           for (var i = 0, c = searchBar.length; i < c; ++i) {
               searchBar[i].addEventListener('input', getResults);
           }
       }
    </script>
{% endblock %}