<footer class="page-footer">
    <div class="container container_footer center-align">
        <div class="row row_custom" style="margin-bottom: 0">
            <div class="col l6 s12">
                <form name="newsletter" method="post" id="form-newsletter" action="{{ path('we_crea_newsletter') }}">
                    <div>
                        <label for="newsletter" style="font-size: 1em; height: 30px;">Inscription Newsletter</label>
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="Saisissez votre email" required style="width: 60%; height: 30px; background: #fff; text-indent: 5px;">
                        <input type="submit" value="Envoyer" style="background: black; height: 30px; width: 100px; border: none; color: #fff;">
                    </div>
                    <div>
                        <a class="moreLink2" href="http://www.lesjeuxdedames.com/" target="_blank">Les jeux de dames</a>
                    </div>
                </form>
            </div>
            <div class="col l3 m6 s12">
                <ul>
                    <li><a href="{{ path('we_crea_contact') }}">E-mail</a></li>
                    {% if (footer.phone != null) %}
                    <li><img class="phoneicn" src="{{ asset('bundles/wecrea/pics/phone.png') }}"><span class="phone">{{ footer.phone }}</span></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col l3 m6 s12">
                <ul>
                    <li>
                        <a class="moreLink" href="#cguModal">C.G.U</a>
                    </li>
                    <li>
                        <a class="moreLink" href="#mentionsModal">Mentions légales</a>
                    </li>
                    <li>
                        <a class="moreLink" href="#defiscalisation">Déduction fiscale</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bar_footer">
        <div class="container" style="width: 95%;">
            <div
                    class="row center-align"
                    style="margin-bottom: 0;"
            >
                <div class="col l4 m12 s12" style="padding: 0;">
                    <a href="https://wildcodeschool.fr/" class="moreLink" style="font-size: small">© 2017 Copyright WCS & We-Crea</a>
                </div>
                <div class="col l4 m3 s12" style="padding: 0;">
                    <a id="moreLink">Contactez-nous</a>
                </div>
                <div class="col l4 m3 s12" style="padding: 0;">
                    {% if (footer.facebook != null) %}
                        <a class="moreLink" href="{{ footer.facebook }}" target="_blank"><img src="{{ asset('bundles/wecrea/pics/facebook.png') }}" alt="Facebook" title="Facebook" style="width: 9%;"></a>
                    {% endif %}
                    {% if (footer.instagram != null) %}
                        <a class="moreLink" href="{{ footer.instagram }}" target="_blank"><img src="{{ asset('bundles/wecrea/pics/instagram.png') }}" alt="Instagram" title="Instagram" style="width: 9%;"></a>
                    {% endif %}
                    {% if (footer.youtube != null) %}
                        <a class="moreLink" href="{{ footer.youtube }}" target="_blank"><img src="{{ asset('bundles/wecrea/pics/youtube.png') }}" alt="Youtube" title="Youtube" style="width: 9%;"></a>
                    {% endif %}
                </div>
                {#<div class="col l3 m4 s12" style="padding: 0;">#}
                {#<a class="moreLink" href="http://www.lesjeuxdedames.com/">Les Jeux de Dames</a>#}
                {#</div>#}
            </div>
        </div>
    </div>
</footer>

<!-- Modal Structure -->
<div id="defiscalisation" class="modal">
    <div class="modal-content">
        <h4 style="color: black !important;">Fiscalité entreprises</h4>
        {% autoescape %}
            {{ footer.defiscalisation | raw }}
        {% endautoescape %}
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="cguModal" class="modal">
    <div class="modal-content">
        <h4 style="color: black !important;">Conditions générales d'utilisation</h4>
        {% autoescape %}
            {{ footer.cgu | raw }}
        {% endautoescape %}
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="mentionsModal" class="modal">
    <div class="modal-content">
        <h4 style="color: black !important;">Mentions légales</h4>
        {% autoescape %}
            {{ footer.mention | raw }}
        {% endautoescape %}
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
</div>

<script type="text/javascript">

    {% if app.request.get('_route') == 'we_crea_homepage' or
    app.request.get('_route') == 'we_crea_actu'
    %}
    var $footer = $('footer');

    $footer.css({
        'position' : 'absolute',
        'bottom' : '0',
        'left' : '0',
        'width' : '100vw'
    });
    {% endif %}
</script>