{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <div class="row row_top addressCont">
                {% include '@WeCrea/User/basket/addressUser.html.twig' %}
            </div>
            <div class="row center-align">
                <a class="waves-effect waves-light btn black " href="#modal1">Changer d'adresse</a>
            </div>
            <div class="row center-align">
                <a class="waves-effect waves-light btn black center-align" href="{{ path('we_crea_basket_command') }}">Confirmer mes informations et passer au paiement</a>
            </div>

            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                    {{ form_start(formUser) }}

                    <p class="center-align">Adresse de livraison :</p>
                    {{ form_row(formUser.address1) }}
                    {{ form_row(formUser.zipCode1) }}
                    {{ form_row(formUser.town1) }}
                    <p class="center-align">Adresse de facturation :</p>
                    {{ form_row(formUser.address2) }}
                    {{ form_row(formUser.zipCode2) }}
                    {{ form_row(formUser.town2) }}
                    <input type="submit" class="btn black" value="éditer">

                    {{ form_end(formUser, {'render_rest': false}) }}

                </div>

            </div>

        </div>
    </main>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('form[name="app_user_profil"]').submit( function (e) {
                e.preventDefault();
                $data = $(this).serialize();

                $.ajax({
                    method: 'post',
                    url: '{{ path('we_crea_basket_address') }}',
                    data: $data,

                    success: function (response) {
                        console.log(response);
                        $('.addressCont').children().remove();
                        $('.addressCont').html(response);
                        $('.modal').modal('close');

                    }
                });
            });
        })
    </script>
{% endblock %}