<div class="col s12 m6">
    <span>Addresse de facturation</span>
    <ul>
        <li>{{ user.name }}</li>
        <li>Addresse : {{ user.address1 }}</li>
        <li>Ville : {{ user.zipCode1 }} {{ user.town1 }}</li>
    </ul>
</div>
<div class="col s12 m6">
    <span>Addresse de livraison</span>
    <ul>
        <li>{{ user.name }}</li>
        <li>Addresse : {{ user.address2 }}</li>
        <li>Ville : {{ user.zipcode2 }} {{ user.town2 }}</li>
    </ul>
</div>