<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recapitulatif de commande</title>
</head>
<body style="margin: auto !important; max-width: 600px !important;">
<!-- Logo -->
<div style="text-align: center !important;">
    <img width="80%" src="https://www.lesartistesdabord.fr/bundles/wecrea/pics/Les-Artistes-d'abord.png">
    <h2> WeCrea vous remercie de votre commande. </h2>
</div>

<!-- Adresse -->
<div>
    <!-- Left -->
    <div style="float: left !important; margin-left: 10px !important;">
        <p>
            WE-CREA Sarl<br>
            8, rue Basse<br>
            08190 ST Germainmont<br>
            FRANCE<br>
            06.31.08.82.49 / 06.08.89.45.60<br>
            Siret: 79914649300017 – Ape 3299Z<br>
            TVA: FR 47799146493<br>
        </p>

    </div>

    <!-- Right -->
    <div style="float: right !important; margin-right: 10px !important;">
        <p>
            {{ command.name|capitalize }}<br>
            {{ command.addressfact }}<br>
            {{ command.zipCodefact }}<br>
            {{ command.townfact }}<br>
        </p>
    </div>
</div>

<!-- Recap info commande -->
<div>
    <div style="clear: both !important; padding-top: 20px !important; text-align: center !important;">
        <h2><u>Récapitulatif de votre commande</u></h2>
    </div>
    <div>
        <h3 style="margin: 10px 0 10px 0 !important;"><b>N° Commande:</b> {{ command.nb }}</h3>
        <p style="margin: 0 0 3px 0 !important;"><b>Date de livraison estimée:</b> {{ command.date|date_modify('+' ~ command.delivery ~ ' day' )|date('d/m/Y') }}</p>
        <p style="margin: 0 0 3px 0 !important;"><b>Date du règlement:</b> {{ command.date|date('d/m/Y') }}</p>
    </div>
</div>

<!-- Table -->
<div style="margin-top: 20px !important;">
    <table style="text-align: center !important;">
        <thead>
        <tr>
            <th style="border: 1px solid #ddd !important; border-bottom-width: 2px !important;">
                <b>Titre de l'oeuvre</b>
            </th>
            <th style="border: 1px solid #ddd !important; border-bottom-width: 2px !important;">
                <b>Caractéristiques</b>
            </th>
            <th style="border: 1px solid #ddd !important; border-bottom-width: 2px !important;">
                <b>Quantité(s)</b>
            </th>
            <th style="border: 1px solid #ddd !important; border-bottom-width: 2px !important;">
                <b>Prix Unitaire T.T.C</b>
            </th>
            <th style="border: 1px solid #ddd !important; border-bottom-width: 2px !important;">
                <b>Livraison</b>
            </th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for work in command.works %}
            {% set total = total + work.price * work.quant %}
            <tr>
                <td style="border: 1px solid #ddd !important;">{{ work.title }}</td>
                <td style="border: 1px solid #ddd !important;">{{ work.caract }}</td>
                <td style="border: 1px solid #ddd !important;">{{ work.quant }}</td>
                <td style="border: 1px solid #ddd !important;">{{ work.price * work.quant}} €</td>
                <td style="border: 1px solid #ddd !important;">{{ work.timeLimit }} jours ouvrés</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot> <!-- Pied de tableau -->

        <tr>
            <td class="gap">

            </td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="border: 1px solid #ddd !important;">Total T.T.C</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="border: 1px solid #ddd !important;">{{ ttc }} €</td>
        </tr>
        </tfoot>
    </table>
</div>

<!-- Footer -->
<div style="text-align: center !important;">
    <p style="margin-top: 60px !important;">
        <b> Retrouvez votre facture dans votre espace personnel </b>
    </p>
    <p style="margin: 0 0 3px 0 !important;">* TVA/Marge appli selon art.297 CGI</p>
    <p style="margin: 0 0 3px 0 !important;">WE-CREA SARL, au capital de 10 000 €, entreprise immatriculée au RCS de Sedan sous le numéro 799146493, dont le siège social est situé au 8, rue Basse, 08190 ST GERMAINMONT</p>
</div>

</body>
</html>