<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <style type="text/css">

        table {
            width: 100%;
            margin: 30px 0;
            border-collapse: collapse;
        }

        table, th, td{
            border: 1px solid black;
        }

        td{
            margin: 0;
            height: 30px;
            text-align: center;
        }

        #legal-mentions{
            text-align: justify;
        }
    </style>
</head>
<body>
    <h2> <b>Les @rtistes d'@bord</b> vous remercie de votre commande. </h2>
    <h4><u>Récapitulatif de votre commande</u></h4>
    <p><b>Numéro de commande : </b> {{ command.nb }}</p>
    <p><b>Adresse de livraison : </b><br />
        {{ command.name }}<br />
        {{ command.addressdel }}<br />
        {{ command.zipCodedel }}<br />
        {{ command.towndel }}<br />
    </p>

    <p><b>Adresse de facturation : </b><br />
        {{ command.name }}<br />
        {{ command.addressfact }}<br />
        {{ command.zipCodefact }}<br />
        {{ command.townfact }}<br />
    </p>

    <p><b>Date de livraison estimée : {{ command.date|date_modify('+' ~ command.delivery ~ ' day' )|date('d/m/Y') }}</b></p>

    <p><b>Date du règlement : {{ command.date|date('d/m/Y') }}</b></p>

    <table>
        <thead>
        <th><b>Titre de l'oeuvre</b></th>
        <th><b>Caractéristiques</b></th>
        <th><b>Quantité(s)</b></th>
        <th><b>Prix H.T.</b></th>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for work in command.works %}
            {% set total = total + work.price * work.quant %}
            <tr>
                <td>{{ work.title }}</td>
                <td>{{ work.caract }}</td>
                <td>{{ work.quant }}</td>
                <td>{{ work.price * work.quant}} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>Prix total H.T. : {{ total }} €</p>
    <p>TVA ({{ Tva }}%) : {{ tva }} €</p>
    <p>Prix total T.T.C : {{ ttc }} €</p>


    <p id="legal-mentions">
        <b>{{ legal }}</b>
    </p>
</body>






</html>