<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Pompiere');

        .thanks h2{
            margin-top: -25px;
            margin-bottom: 25px;
            font-family: 'Pompiere', cursive;
        }
        .thanks img{
            width: 100%;
        }
        table {
            width: 100%;
            margin: 30px 0;
            text-align: center;
        }

        td{
            margin: 0;
            height: 30px;
        }

        .gap{
            border: none !important;
            padding-top: 45px !important;
        }

        .legal-mentions{
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="text-center row thanks">
            <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/wecrea/pics/Logo.jpg') }}" alt="logo">
        </div>
        <div class="row">
            <div class="col-xs-6">
                <p>
                    <b>WE-CREA Sarl</b><br>
                    8, rue Basse<br>
                    08190 ST Germainmont<br>
                    FRANCE<br>
                    06.31.08.82.49 / 06.08.89.45.60<br>
                    Siret: 79914649300017 – Ape 3299Z<br>
                    TVA: FR 47799146493
                </p>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <p><b>Le {{ command.date|date('d/m/Y') }}</b></p>
                    <p><b>M. Mme {{ command.name }}</b></p>
                    {% if command.addressdel == command.addressfact and
                    command.zipCodedel == command.zipCodefact and
                    command.towndel == command.townfact
                    %}
                        <p><b>Adresse de facturation / livraison : </b><br />
                            {{ command.addressdel }}<br />
                            {{ command.zipCodedel }}<br />
                            {{ command.towndel }}<br />
                        </p>
                    {% else %}
                        <p><b>Adresse de livraison : </b><br />
                            {{ command.addressdel }}<br />
                            {{ command.zipCodedel }}<br />
                            {{ command.towndel }}<br />
                        </p><br>
                        <p><b>Adresse de facturation : </b><br />
                            {{ command.addressfact }}<br />
                            {{ command.zipCodefact }}<br />
                            {{ command.townfact }}<br />
                        </p>
                    {% endif %}
                </div>

            </div>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    <h3><b>N° Commande: </b>{{ command.nb }}</h3>
                </div>
                <div class="col-xs-6">
                    <div class="pull-right">
                        <h3><b>N° Client: {{ command.iduser }}</b></h3>
                    </div>
                </div>
                <h3 class="text-center"><b><u>Facture N°: {{ command.id }}</u></b></h3>
                <p><b>Date de livraison estimée : {{ command.date|date_modify('+' ~ command.delivery ~ ' day' )|date('d/m/Y') }}</b></p>
                <p><b>Date du règlement : {{ command.date|date('d/m/Y') }}</b></p>
            </div>

            <div class="row">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th><b>Titre de l'oeuvre</b></th>
                        <th><b>Caractéristiques</b></th>
                        <th><b>Quantité(s)</b></th>
                        <th><b>Prix Unitaire T.T.C</b></th>
                        <th><b>Livraison</b></th>
                    </tr>

                    </thead>
                    <tbody>
                    {% set total = 0 %}
                    {% for work in command.works %}
                        {% set total = total + work.price * work.quant %}
                        <tr>
                            <td>{{ work.title }}</td>
                            <td>{{ work.caract }}</td>
                            <td>{{ work.quant }}</td>
                            <td>{{ work.price * work.quant}} €</td>
                            <td>{{ work.timeLimit }} jours ouvrés</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot> <!-- Pied de tableau -->

                    <tr>
                        <td class="gap">

                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Total T.T.C</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ ttc }} €</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row legal-mentions text-center">
                <p>* TVA/Marge appli selon art.297 CGI</p>
                <p>WE-CREA SARL, au capital de 10 000 €, entreprise immatriculée au RCS de Sedan sous le numéro 799146493, dont le siège social est situé au 8, rue Basse, 08190 ST GERMAINMONT</p>
            </div>
        </div>
    </div>
</body>
</html>