{% extends '@WeCrea/layout/base_client.html.twig' %}

{% block body %}
<main>
    <div class="row">
        <div class="col s10 offset-s1">
            {% if status == 'AUTHORISED' %}
                <h3>Votre paiement est acceptée</h3>
                <p>Vous allez recevoir un mail contenant la date de livraison prévue ainsi qu'un résumé de votre commande.</p>
                <p>Merci pour votre confiance et à bientôt sur les artistes d'abord!</p>
            {% elseif status == 'ERROR' or status == 'REFUSED' %}
                <h3>Votre paiement a échoué, merci de contacter votre établissement financier pour plus de précision.</h3>
            {% else %}
                <h3>Votre commande n'a pas aboutie, vous pouvez la retrouver dans votre <a href="{{ path('we_crea_basket') }}">Panier</a></h3>
            {% endif %}
        </div>
        <div class="col s10 offset-s1">
            <h4>Résumé de votre commande :</h4>
            <p>Date : {{ comand.date|date("d/m/Y - H:i:s") }}</p>
            <ul>
                {% for work in comand.works %}
                    <li>
                        {{ work.title }} par {{ work.artist }} - quantité : {{ work.quant }} - prix : {{ work.quant * work.price }}€
                    </li>
                {% endfor %}
            </ul>
            <p>Total : {{ total / 100 }}€</p>
        </div>
        {% if status == 'ERROR' or status == 'REFUSED' %}
            <a href="{{ path('we_crea_payement', {'id': comand.id}) }}">aller vers la page de paiement</a>
        {% endif %}
    </div>
</main>
{% endblock %}