{% extends 'base.html.twig' %}

{% block body %}
    <h1>Natures list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nature in natures %}
            <tr>
                <td><a href="{{ path('nature_show', { 'id': nature.id }) }}">{{ nature.id }}</a></td>
                <td>{{ nature.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('nature_show', { 'id': nature.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('nature_edit', { 'id': nature.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('nature_new') }}">Create a new nature</a>
        </li>
    </ul>
{% endblock %}
