{% if works is not defined %}
    <div class="container" id="natureChoices" style="display: none;">
        <div class="row">
            <div class="buttons btn_card filters-button-group row">
                {% for nature in natures %}
                    <div
                            class="col s12 m4 Tous"
                            data-filter=".Tous"
                            style="padding: 1.30rem;"
                    >
                        <a style="
                                background: url('{{ nature.image_url | imagine_filter('large') }}') center no-repeat;
                                color: {{ nature.fontColor }};
                                background-size: cover;
                                padding-top: 40%;
                                "
                           class="tous_btn resizer center-align"
                           href="{{ path('we_crea_works', { 'nature': nature.name }) }}"
                           data-filter="{{ nature.name }}"
                        >
                            {{ nature.name }}
                        </a>
                    </div>
                    <script></script>

                    <link rel="stylesheet" href="">
                {% endfor %}
            </div>
        </div>
    </div>

{% else %}
    <div class="buttons nav_works">
        <a
                href="{{ path('we_crea_works') }}"
                {% if requestNature == null %}
                    class="waves-effect waves-light btn active_button"
                {% else %}
                    class="waves-effect waves-light btn iso_button"
                {% endif %}
                data-filter="Tous">
            Tous
        </a>
        {% for nature in natures %}
            <a
                    href="{{ path('we_crea_works', { 'nature': nature.name }) }}"
                    {% if requestNature == nature.name %}
                        class="waves-effect waves-light btn active_button"
                    {% else %}
                        class="waves-effect waves-light btn iso_button"
                    {% endif %}
                    data-filter="{{ nature.name }}">
                {{ nature.name }}
            </a>
        {% endfor %}
    </div>
    <div class="row">
        <div style="display: none;" class="grid">
            {% for work in works %}
                {% if work.images[0] is defined %}
                    <div class="grid-item">
                        <img width="100%" class="imageWorks" src="{{ work.images[0].url | imagine_filter('large') }}">
                        <div class="top">
                            <div class="lineFavWork">
                                {% if favs[work.id] is defined %}
                                    <div class="fav_btn_delete" data="{{ work.id }}">
                                        <button class="btn">L'oeuvre est dans vos favoris</button>
                                    </div>
                                {% else %}
                                    <div class="fav_btn" data="{{ work.id }}">
                                        <button class="btn">Ajouter aux favoris</button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="middle">
                            <div class="row">
                                <a class="moreLink" href="{{ path('we_crea_artist', {id : work.artist.id} ) }}">{{ work.artist.firstname }} {{ work.artist.name }}</a>
                                <p style="margin: 0">{{ work.title }}</p>
                            </div>
                            <div class="row">
                                <a class="btn black" href="{{ path('we_crea_work', {'id' : work.id}) }}">Voir l'oeuvre</a>
                            </div>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endif %}